body {
    background-color:  #f8f8f8   !important;

}

.dom {
    font-size: 450% !important;
    display: block;
    text-align: center;

}

.createnew{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;

}
h2{
    display:inline;
    float:right
}

a{
    text-decoration: none;
}

h3{
    display: inline-block;
}