@font-face {
    font-family: 'Klondike';
    src: url('../fonts/CFKlondikePERSONAL-Regular.ttf');
}

body {
    background-color:  #f8f8f8   !important;

}

.dom {
    font-family: Klondike !important;
    font-size: 650% !important;
    display: block;
    text-align: center;
}



.createnew{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;

}
comment-title{

}

.login-logout{

    display:block;
}

h2{
    display:inline;
    float:right
}

a{
    text-decoration: none;
}

h3{
    display: inline-block;
}