@font-face {
    font-family: 'Klondike';
    src: url('../fonts/CFKlondikePERSONAL-Regular.ttf');
}

body {
    background-color:  #FFFAF0   !important;
}

.cactus{
    position:absolute;
    width:140px;
    height:155px;
    margin: -19px 0px 0px 10px;
}

.dom {
    font-family: Klondike !important;
    font-size: 650% !important;
    display: block;
    text-align: center;
    color:#01a70c !important;
}



.createnew{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;

}
comment-title{

}

.login-logout{

    display:block;
}

h2{
    display:inline;
    float:right
}

a{
    text-decoration: none;
}

h3{
    display: inline-block;
}