<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spinosa</title>
    {% load static %}
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>
<body>
    <h1><a href={% url "home" %}>SPINOSA NEWS</a></h1><br>
     <h3>
    Categories:
    {% for cat in categories %}
   <a href="{% url "categorydetail" slug=cat.slug %}">{{cat.name|title}}</a>
    {% endfor %}
    </h3>
    <hr>
{% block body %}
{% endblock %}

<hr>
Click for <a href="{% url "contact" %}">Contact</a> with us.
</body>
</html>