{% load static%}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spinosa</title>
    {% bootstrap_css %}
     <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script src="{% static "news/js/main.js" %}"></script>
     <link rel="stylesheet" href='{% static "news/css/style.css" %}'>

</head>
<body>
    <h1 class="dom"><a href={% url "home" %}>SPINOSA NEWS</a></h1>

    <h3 class="createnew">
        <span class="glyphicon glyphicon-pushpin"></span>
        <a href="{% url "createnews" %}">Create News</a></h3>
    <div class="login-logout">
        {% if request.user.is_authenticated %}
            Welcome {{ request.user.username }}
            <form action="{% url "logout" %}" method="post" >
            {% csrf_token %}
            <input type="hidden" value="/" name="next">
        <h3>
            <span class="glyphicon glyphicon-user"></span>
            <button>Logout</button></h3>
            </form>
        {% else %}
        <h3>
            <span class="glyphicon glyphicon-user"></span>
            <a href="{% url "login" %}">Login</a>
        </h3>
        {% endif %}
    </div>

    <div class="row" style="text-align:center;">
        <hr class="hr-danger" />
        <ol class="breadcrumb bread-danger">
            <a style="font-size:180%;" href={% url "home" %} class="btn btn-danger"><i class="fa fa-paw"></i> SPINOSA </a>
              {% for cat in categories %}
             <li style="font-size:180%;" role="presentation"><a href="{% url "categorydetail" slug=cat.slug %}">{{cat.name|title}}</a></li>
            {% endfor %}
        </ol>
    </div>
    <div class="container">

{% block body %}

{% endblock %}
    </div>

Click for <a href="{% url "contact" %}">Contact</a> with us.
</body>
</html>