{% extends "news/base.html" %}
{% load bootstrap3%}
{% block body %}

<h3 style="display:inline-block; font-size:222%;"><strong>{{news.title}}</strong></h3>  -  <h5 style="display:inline-block;">{{news.publish_date}}</h5>
<br><br>
<p style="font-size:130%">{{news.content}}</p>
{% if request.user.is_authenticated %} <br>
    <button style="background-color:#FFFAF0; border:none;" onclick="like_news(true, {{ news.id }})"><span class="glyphicon glyphicon-thumbs-up"></span></button>
    <span id="like_news_{{ news.id }}">{{news.likes}}</span>
    <button style="background-color:#FFFAF0; border:none;" onclick="like_news(false, {{ news.id }})"><span class="glyphicon glyphicon-thumbs-down"></span></button>

{% endif%}
<br><br>
Tags:
{% for cat in news.categories.all %}
    <a href="{% url "categorydetail" slug=cat.slug %}">{{cat.name|title}}</a>
{% endfor %}

<br>



<script>
    function like_news(param, id) {
         $.post({
             data: {
                 "like": param,
                 "id": id,
                 "csrfmiddlewaretoken": getCookie('csrftoken')
             },
             url: "{% url "like_news" %}",
             success: function (data) {
                 $("#like_news_"+data.id).text(data.like)
             }
         })
     }
</script>
<br>

Source:
<a href="{{object.source}}">{{news.source|truncatechars:63}}</a>
<br><br>
<h2 style="position:absolute; left:50%;">Comments</h2>
<br><br>
<div class="list-group">
    <hr>
    {% for com in commentslist %}
        <h4 class="list-group-item-heading">{{com.content}}</h4>
    {% if request.user.is_authenticated %}
    <br>
    <p class="list-group-item-text">
        <span id="like_comments_{{ com.id }}">{{com.likes}}</span>
        <button style="background-color:#FFFAF0; border:none;" onclick="like_comments(true, {{ com.id }})"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        <button style="background-color:#FFFAF0; border:none;" onclick="like_comments(false, {{ com.id }})"><span class="glyphicon glyphicon-thumbs-down"></span></button>
    </p>
    <hr>
    <br>
    {% endif%}
    {% endfor %}
</div>

<script>
    function like_comments(param, id) {
         $.post({
             data: {
                 "like": param,
                 "id": id,
                 "csrfmiddlewaretoken": getCookie('csrftoken')
             },
             url: "{% url "like_comments" %}",
             success: function (data) {
                 $("#like_comments_"+data.id).text(data.like)
             }
         })
     }
</script>


{% if request.user.is_authenticated %}
<h3>Create Comment</h3>
<form action="." method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-info" type="submit">Send</button>
</form>
{% endif%}
{% endblock %}
