{% extends "news/base.html" %}

{% block body %}
    {% for obj in newslist %}
    <h2>
        <a href="{% url "newsdetail" pk=obj.pk slug=obj.slug %}">{{obj.title|upper}}</a>
        {{obj.publish_date|date:"d-m-Y"}} {{ obj.publish_date|date:"H:i" }}
    </h2>
    <ul>
        <li> <h4>
            {{obj.content|truncatewords:10|title}}
        </h4> </li>
    </ul>

    {%endfor%}
Click for <a href="{% url "contact" %}">contact</a> us.

<form action="." method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Send</button>
</form>


{% endblock %}