
{% extends "news/base.html" %}

{% block body %}

<h3 style="display:inline-block;">{{news.title}}</h3> - <h5 style="display:inline-block;">{{news.publish_date}}</h5>
<br><br>
{{news.content}}
<br><br>
Tags:
{% for cat in news.categories.all %}
    <a href="{% url "categorydetail" slug=cat.slug %}">{{cat.name|title}}</a>
{% endfor %}
<br><br>
Source:
<a href="{{object.source}}">{{news.source|truncatechars:43}}</a>
<br>
<hr>
<h2>Comments:</h2>
{% for com in commentslist %}
    <p>{{com.content}}</p>
{% endfor %}
<hr>
{% if request.user.is_authenticated %}
<h3>Create Comment</h3>
<form action="." method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Send</button>
</form>
{% endif%}
{% endblock %}
