{% extends "news/base.html" %}
{% block body %}

<h3 style="display:inline-block;">{{news.title}}</h3> - <h5 style="display:inline-block;">{{news.publish_date}}</h5>
<br><br>
{{news.content}}
<br><br>
Tags:
{% for cat in news.categories.all %}
    <a href="{% url "categorydetail" slug=cat.slug %}">{{cat.name|title}}</a>
{% endfor %}

<br>
{% if request.user.is_authenticated %}
<hr>
    <span id="like_news_{{ news.id }}">{{news.likes}}</span>
    <button style="background-color:#f8f8f8; border:none;" onclick="like_news(true, {{ news.id }})"><span class="glyphicon glyphicon-thumbs-up"></span></button>
    <button style="background-color:#f8f8f8; border:none;" onclick="like_news(false, {{ news.id }})"><span class="glyphicon glyphicon-thumbs-down"></span></button>
<hr>
{% endif%}


<script>
    function like_news(param, id) {
         $.post({
             data: {
                 "like": param,
                 "id": id,
                 "csrfmiddlewaretoken": getCookie('csrftoken')
             },
             url: "{% url "like_news" %}",
             success: function (data) {
                 $("#like_news_"+data.id).text(data.like)
             }
         })
     }
</script>
<br>

Source:
<a href="{{object.source}}">{{news.source|truncatechars:43}}</a>
<br>
<hr>
<h2>Comments:</h2>
{% for com in commentslist %}
    <p>{{com.content}}</p>
{% if request.user.is_authenticated %}

    <span id="like_comments_{{ com.id }}">{{com.likes}}</span>
    <button style="background-color:#f8f8f8; border:none;" onclick="like_comments(true, {{ com.id }})"><span class="glyphicon glyphicon-thumbs-up"></span></button>
    <button style="background-color:#f8f8f8; border:none;" onclick="like_comments(false, {{ com.id }})"><span class="glyphicon glyphicon-thumbs-down"></span></button>
<hr>
{% endif%}
{% endfor %}

<script>
    function like_comments(param, id) {
         $.post({
             data: {
                 "like": param,
                 "id": id,
                 "csrfmiddlewaretoken": getCookie('csrftoken')
             },
             url: "{% url "like_comments" %}",
             success: function (data) {
                 $("#like_comments_"+data.id).text(data.like)
             }
         })
     }
</script>


{% if request.user.is_authenticated %}
<h3>Create Comment</h3>
<form action="." method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Send</button>
</form>
{% endif%}
{% endblock %}
